.Container {
  text-align: center;
}

.Container-header {
  background-color: #ff9800;
  height: 4em;
  padding: 1em;
  color: white;
  margin-bottom: 2em;
}

.Container-title {
  font-size: 2em;
  margin-top: 1em;
  transform: translateY(-50%);
}

.Posts {
  color: white;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}

.Post-container {
  background-color: #0099;
  margin-bottom: 1em;
}

.Post-action-buttons {
  margin-top: 1em;
  display: flex;
  justify-content: space-evenly;

}

.Post-detail-container {
  background-color: #0099;
}

.Post-score {
  float:left;
  margin-top: 1em;
  padding: 1em;
}

.Post-score-vote {
  float: left;
  margin-right: 0.5em;
  border-style: none;
  border-bottom-color: transparent;
  padding: 0;
  border-width: 0;
  border-color: transparent;
  background-color: transparent;
  color: white;
}

.Post-score-value {
  float: left;
}

.Post-title {
  background-color: #ff9800;
  font-weight: bold;
  color: #009;
  margin-bottom: 0.2em;
  padding-right: 10%;
}

.Post-author {
  float:right;
  margin-right: 1em;
}


.Post-date {
  float: right;
}

.Post-date-container {
  margin-top: 3em;
  font-size: 0.5em;
  margin-right: 1em;
}

.Post-comments-container {
  margin-top: 0em;
}

.Post-comments {
  font-size: 0.7em;
}

.Comment-container {
  height: 6em;
}

.Comment-title {
  background-color: #ff9800;
  font-weight: bold;
  color: #009;
  margin-bottom: 0.2em;
  color: transparent;
}

.Post-detail-body {
  word-wrap: break-word;
  margin: 10%;
}

.Post-detail-commentCount {
  margin-top: 2em;
  font-size: 0.7em;
}

.Post-detail-comments {
  font-size: 0.7em;
  color: white;
  background-color: #0099;
}

.Post-detail-comment-body {
  word-wrap: break-word;
}

.Post-comment-wrapper {
  background-color: #ff9800;
  font-weight: bold;
  color: #009;
}

.Categories {
  color: white;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  margin-left: 2em;
  background-color: #ff9800;
}

a {
  text-decoration: none;
}

.New-post {
  position: fixed;
  right: 5em;
  top: 2em;
}

.Filter {
  position: fixed;
  left: 5em;
  top: 2em;
}

.Top-bar {
  color: white;
  display: flex;
  justify-content: space-around;
  background-color: #423
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
