.Container {
  text-align: center;
}

.Container-header {
  background-color: #225;
  height: 3.5em;
  padding: 1em;
  color: white;
}

.Container-title {
  font-size: 1.5em;
}

.Posts {
  color: white;
  text-align: center;
  background-color: #724;
}
.Post-container {
  display: flex;
  justify-content: space-around;
  background-color: #934;
  margin: 1em;
}

.Categories {
  color: white;
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  margin-left: 2em;
}

.Top-bar {
  color: white;
  display: flex;
  justify-content: space-around;
  background-color: #423
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
