.Container {
  text-align: center;
}

.Container-header {
  background-color: #225;
  height: 3.5em;
  padding: 1em;
  color: white;
}

.Container-title {
  font-size: 1.5em;
}

.Posts {
  text-align: center;
}
.Post-container {

}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
